/* On retire les marges et les styles */
* {
    margin: 0%;
    padding: 0%;
}

/* On met une image de fond sur le header avec un chemin relatif */

header {
    background-image: url(../img/Header_BackGround.jpg);
}

h1 {
    color: white;
    font-size: 32px;
}

h2 {
    padding-bottom: 5px;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    color: white;
    font-size: 12px;
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Button {
    color: white;
    background-color: #1e1e3c;
    font-size: 12px;
    font-family: sans-serif;
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    width: 25%;

}

.Prat {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

ul {
    display: flex;
    justify-content: end;
    flex-direction: row;
    gap: 25px;
    padding-top: 25px;
    padding-right: 25px;
}

.Title{
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 45px;
    padding-left: 25px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f7f8fa;
}

img {
    width: 100%;
    border-radius: 20px;
}

.Picture {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 25;
    width: 50%;
    padding: 5%;
}

/* We put together the 3 Panels since they have the same CSS */

.Panel1,
.Panel2,
.Panel3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    width: 70%;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 5px grey;

}

footer {
    color: #888888;
    background-color: #f7f8fa;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding-bottom: 25px;
}

.exo {
    font-size: 12px;
    padding-bottom: 50px;
}

/* Typographie */


/* we set a color to all text that where white before to black using class "black" */

.black {
    color: black;
    font-size: 16px;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* One Box with Round corner */

.Typo {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px grey;
    margin: 40px 0;
    border-radius: 15px;

}

.Taille > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px;
}

.FirstP {
    display: flex;
    font-size: 12px;
    color: #c7c7c7;
    padding-right: 5%;
}

.ResulT {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #c7c7c777;
    width: min-content;
    padding: 8px;
    border-radius: 5px;
}

/* Exercice positionnement */

.Position1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    width: 70%;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 5px grey;
}

.Relative {
    position: relative;
    left: 25px;
    top: 25px;
    width: 100px;
    height: 100px;
    color: white;
    background-color: rgb(0, 0, 99);
}

.Absolute {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: yellow;
}